
.container {
    text-align: left;
}

.sub-title {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
}

.list li {
    margin-bottom: 10px;
}

.list li a {
    font-size: 25px;
    text-decoration: none;
    color: #000000; 
    display: block; 
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.list li a:hover {
    background-color: #ddd;
}

.list li a b {
    font-weight: bold;
}