{% extends 'base.html' %}

{% load static %}

{% block content %}

    <head>
        <title>Xo TOD</title>
        <link rel="stylesheet" href="{% static 'completed.css' %}">
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>

    <body>
        <div class="container">
            <h1 class="sub-title">Completed</h1>
            <ul class="list">
                {% for todo in todos %}
                    <li> 
                        <a href="{% url 'viewtodo' todo.id %}">
                            {% if todo.important %} <b> {% endif %} {{ todo.title }} {% if todo.important %} </b> {% endif %} 
                            {{ todo.datecompleted|date:'M j, Y H:i' }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
    
{% endblock %}